.feed-item-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;

  .feed-above-image-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .company-name-div {
    white-space: nowrap;
    font-weight: bold;
    margin-right: 0.5rem;
  }

  .distance-div {
    display: flex;
    align-items: center;
    svg {
      height: 1rem;
      width: 1rem;
      margin-right: 0.5rem;
    }
  }

  .sub-image-div {
    display: flex;
    justify-content: space-between;
    .sub-image-buttons-div {
      display: flex;
    }
    .below-image-button {
      padding: 0;
    }
  }

  .feed-post-text-div {
    .company-and-caption {
      .company-name {
        white-space: nowrap;
        font-weight: bold;
        margin-right: 0.5rem;
      }
      .caption {
      }
    }
    .tags-and-date-div {
      display: flex;
      justify-content: space-between;
      margin: 0.3rem 0;
    }
    .tags {
    }
  }

  .feed-date {
    color: $lighter;
    white-space: nowrap;
  }

  .comments-div {
    .comment {
    }

    .user-name {
      font-weight: bold;
    }
  }

  .comment-form-div {
    .comment-input-container {
    }

    .comment-button-div {
    }
  }
}
