$border-radius-size: 10px;

.app-div {
  .home-icon {
    height: 2.3rem;
    width: 2.3rem;
  }

  .toggle-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;

    :first-child {
      border-top-left-radius: $border-radius-size;
      border-bottom-left-radius: $border-radius-size;
    }

    :last-child {
      border-top-right-radius: $border-radius-size;
      border-bottom-right-radius: $border-radius-size;
    }
    .toggle-button {
      font-family: "Handlee", cursive;
      background: none;
      flex-grow: 1;
      padding: 0.5rem 1rem;
      font-size: 1.3rem;
      font-weight: bold;
      width: 50%;
      display: flex;
      justify-content: center;
      width: 50%;
      border: 1px solid black;
      cursor: pointer;

      :hover {
        color: $red;
        background: darken($color: $white, $amount: 10%);
      }

      &.selected {
        color: $red;
        background: darken($color: $white, $amount: 10%);
      }
    }
  }
}
