.input-container {
  position: relative;
  margin-bottom: 1.1rem;
}

input {
  border: 0;
  border-bottom: 2px solid #9e9e9e;
  outline: none;
  transition: 0.2s ease-in-out;
  box-sizing: border-box;
}

.input-label {
}

.label {
  top: 0;
  left: 0;
  right: 0;
  color: #616161;
  display: flex;
  align-items: center;
  position: absolute;
  font-size: 1rem;
  cursor: text;
  transition: 0.2s ease-in-out;
  box-sizing: border-box;
}

input,
label {
  width: 100%;
  height: 3rem;
  font-size: 1rem;
}

/* Interation */
input:valid,
input:focus {
  border-bottom: 2px solid rgb(170, 56, 30);
}

select {
  width: 100%;
}

input:valid + label,
input:focus + label {
  color: rgb(170, 56, 30);
  font-size: 0.8rem;
  top: -30px;
  pointer-events: none;
}

/* Just for leave it a little more beautiful */
h1 {
  color: #616161;
  text-align: center;
  margin-bottom: 30px;
}

section {
  margin: 15px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 0 0 2px 2px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-content: center;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* 
buttons
 */

.none {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  height: 100%;
}

.none:valid,
.none:focus {
  border-bottom: none;
}

.btn {
  position: relative;
  color: rgb(37, 37, 37);
  font-size: 1.2rem;
  width: 256px;
  height: 64px;
  line-height: 64px;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s;
  /* span {
    transition: all 0.3s;
    tranform: scale(1, 1);
  } */
}

.btn:active {
  transform: translateY(3px);
  color: rgb(242, 159, 5);
}

.btn::before,
.btn::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.btn:hover {
  color: rgb(170, 56, 30);
}

/* BTN TWO */
.btn-two::before,
.btn-two::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s;
  border: 1px solid rgba(37, 37, 37, 0.5);
}

.btn-two:hover::after {
  animation-name: rotatecw;
  animation-duration: 2s;
}
.btn-two:hover::before {
  animation-name: rotateccw;
  animation-duration: 3s;
}
.btn-two:hover::after,
.btn-two:hover::before {
  left: 96px;
  width: 64px;

  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotatecw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateccw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

/* Login/Signup Specific */
.auth-button {
  border: none;
  outline: none;
  cursor: pointer;
}
.auth-button:hover {
  color: rgb(170, 56, 30);
}
.auth-button:active {
  /* box-shadow: 0 0px #666; */
  transform: translateY(2px);
}
.auth-input {
  width: 12rem;
}
/* Feed Specific */
.toggle {
  font-size: 2rem;
}
.feed {
  max-width: 340px;
}
.img-div {
  width: 100%;
}
.top-buttons {
  width: 100%;
}
.fav-button {
  background: none;
  border: none;
}
.fav-button path {
  transition: 450ms;
}
.fav-button:hover path {
  fill: rgb(170, 56, 30);
}
.un-fav-button:hover path {
  fill: rgb(228, 222, 222);
}
.full-width {
  width: 100%;
}
